dev/com.ibm.ws.jaxws.2.2.webcontainer_fat/publish/servers/AttachmentPropertiesServer/wsdl/ImageDepot.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
# COPYRIGHT LICENSE: 
# This information contains sample code provided in source code form. You may 
# copy, modify, and distribute these sample programs in any form without 
# payment to IBM for the purposes of developing, using, marketing or 
# distributing application programs conforming to the application programming
# interface for the operating platform for which the sample code is written. 
# Notwithstanding anything to the contrary, IBM PROVIDES THE SAMPLE SOURCE CODE
# ON AN "AS IS" BASIS AND IBM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, 
# INCLUDING, BUT NOT LIMITED TO, ANY IMPLIED WARRANTIES OR CONDITIONS OF 
# MERCHANTABILITY, SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR PURPOSE, 
# TITLE, AND ANY WARRANTY OR CONDITION OF NON-INFRINGEMENT. IBM SHALL NOT BE 
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES
# ARISING OUT OF THE USE OR OPERATION OF THE SAMPLE SOURCE CODE. IBM HAS NO 
# OBLIGATION TO PROVIDE MAINTENANCE, SUPPORT, UPDATES, ENHANCEMENTS OR 
# MODIFICATIONS TO THE SAMPLE SOURCE CODE.
-->
<wsdl:definitions targetNamespace="http://com/ibm/jaxws/attachment/mtom/" 
    xmlns:impl="http://com/ibm/jaxws/attachment/mtom/" 
    xmlns:intf="http://com/ibm/jaxws/attachment/mtom/"
    xmlns:mtom="http://com/ibm/jaxws/attachment/mtom/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
    xmlns:tns="http://com/ibm/jaxws/attachment/mtom/"
    targetNamespace="http://com/ibm/jaxws/attachment/mtom/">
    <xs:complexType name="ImageDepot">
       <xs:sequence>
           <xs:element name="imageData" 
                       type="xs:base64Binary"
                       xmime:expectedContentTypes="multipart/*"/>
       </xs:sequence>
    </xs:complexType>
    
    <xs:element name="sendImage">
       <xs:complexType>
          <xs:sequence>
             <xs:element minOccurs="0" maxOccurs="1" name="data" type="tns:ImageDepot"/>
          </xs:sequence>
       </xs:complexType>
    </xs:element>
    
    <xs:element name="sendImageResponse">
       <xs:complexType>
          <xs:sequence>
             <xs:element minOccurs="0" maxOccurs="1" name="data" type="tns:ImageDepot"/>
          </xs:sequence>
       </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  
  <wsdl:message name="sendImageRequest">
    <wsdl:part element="mtom:sendImage" name="parameters"/>
  </wsdl:message>
 
  <wsdl:message name="sendImageResponse">
    <wsdl:part element="mtom:sendImageResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:portType name="MtomSampleService">
    <wsdl:operation name="sendImage">
      <wsdl:input message="impl:sendImageRequest" name="sendImageRequest"/>
      <wsdl:output message="impl:sendImageResponse" name="sendImageResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="MtomSampleSoap" type="impl:MtomSampleService">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <wsdl:operation name="sendImage">
      <wsdlsoap:operation soapAction="sendImage"/>
      <wsdl:input name="sendImageRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendImageResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="MtomSampleService">
    <wsdl:port binding="impl:MtomSampleSoap" name="MtomSamplePort">
      <wsdlsoap:address location="http://localhost:8010/AttachmentProperties/MtomSampleService"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>